<div class="card shadow border-0 mb-7">
  <div class="table-responsive">
    <table class="table table-hover table-nowrap">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Born Date</th>
        <th scope="col">Last Login Time</th>
        <th scope="col">Roles</th>
        <th scope="col" class="text-end">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>1</th>
        <td>
          Robert Fox
        </td>
        <td>
          January 1, 1970
        </td>
        <td>
                  <span class="badge badge-lg badge-dot">
                    <i class="bg-success"></i>Yesterday
                  </span>
        </td>
        <td>
          Simple User
        </td>
        <td class="text-end">
          <a href="#" class="btn btn-sm btn-neutral text-danger-hover">
                    <span class="pe-2">
                      <i class="bi bi-eye"></i>
                    </span>
            View
          </a>
          <a href="#" class="btn btn-sm btn-neutral">
                    <span class="pe-2">
                      <i class="bi bi-pencil"></i>
                    </span>
            Edit
          </a>
          <a href="#" class="btn btn-sm btn-neutral text-danger-hover">
                    <span class="pe-2">
                      <i class="bi bi-trash"></i>
                    </span>
            Delete
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
