/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "AppFont";
  src: url("./assets/fonts/SF-Pro.ttf");
}

* {
  font-family: "AppFont", serif;
  font-size: 16px;
}
